<!DOCTYPE html>
<html ng-app="app">
    <head >
        <script src="js/angular.min.js"></script>
        <script src="js/app/controller/blogctrl.js"></script>

        <link rel="stylesheet" href="css/bootstrap.css">
        <title>Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="blogCtrl">
            <div>
          <form>
            <fieldset>
                <legend>Entry</legend>
                <label for='title'>Title:</label><input id='title' name='title' type="text" ng-model= "entry.title">
                <label for='content'>Content:</label><input id='content' name='content' type="text" ng-model= "entry.content">
          </form>
        </div>
    </body>
</html>
