<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script src="js/angular.min.js"></script>
        <script src="js/app/controllers/blogctrl.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <title>Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="blogCtrl">
        <form ng-submit="processForm()">
            <fieldset>
                <legend>Entry</legend>
                <label for='title'>Title:</label><input id='title' name='title' type="text" ng-model= "entry.title">
                <label for='content'>Content:</label><input id='content' name='content' type="text" ng-model= "entry.content">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Crear</span>
                </button>
        </form>
        <table class="table">
            <tr>
                <th>Título</th>
                <th>Contenido</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr ng-repeat="e in entries">
                <td>{{e.title}}</td>
                <td>{{e.content}}</td>
                <td>
                    <button type="button" class="btn btn-warning" ng-click="edit($index, entry)">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" ng-click="delete($index)">Eliminar</button>
                </td>
            </tr>
        </table>
    </body>
</html>
